
    <div id="home-page">

        <h1>Today I...</h1>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
           been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
           galley of type and scrambled it to make a type specimen book. It
           has survived not only five centuries, but also the leap into electronic typesetting,
           remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
           sheets containing Lorem Ipsum passages, and more recently with desktop
           publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a
           page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
           normal distribution of letters, as opposed to using 'Content
           here, content here', making it look like readable English. Many desktop publishing packages
           and web page editors now use Lorem Ipsum as their default model text, and a search for
           'lorem ipsum' will uncover many web sites still in their infancy.
           Various versions have evolved over the years, sometimes by accident, sometimes on purpose
           (injected humour and the like).</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
           Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
           mus.</p>
        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
           quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
           rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
           elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
           consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,
           tellus.</p>
        <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
           ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
           sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.
           Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.
           Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla
           mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales,
           augue velit cursus nunc,</p>
        <p>The European languages are members of the same family. Their separate existence is a myth.
           For science, music, sport, etc, Europe uses the same vocabulary.</p>
        <p>The languages only differ in their grammar, their pronunciation and their most common words.
           Everyone realizes why a new common language would be desirable: one could refuse to pay
           expensive translators.</p>
        <p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common
           words. If several languages coalesce, the grammar of the resulting language is more simple
           and regular than that of the individual languages.</p>
        <p>The new common language will be more simple and regular than the existing European languages.
           It will be as simple as Occidental; in fact, it will be Occidental.</p>
        <p>To an English person, it will seem like simplified English, as a skeptical Cambridge friend
           of mine told me what Occidental is. The European languages are members of the same family.
           Their separate existence is a myth. For science, music, sport, etc, Europe uses the same
           vocabulary. The languages only differ in their grammar, their pronunciation and their most
           common words. Everyone realizes why a new common language would be desirable: one could
           refuse to pay expensive translators. To</p>
    </div>

    <!--<div id="new-post">-->
        <!--<h1>New Post</h1>-->

        <!--&lt;!&ndash;-----------FORM: HEADER-----------------&ndash;&gt;-->
        <!--<form id="form-header">-->

            <!--<div class="form-group" id="select-post-type-div">-->
                <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                        <!--<div class="input-group-text">Type</div>-->
                    <!--</div>-->
                    <!--<label class="control-label" for="select-post-dropdown"></label>-->
                    <!--<div class="dropdown form-control dark" id="select-post-dropdown">-->
                        <!--<button class="btn dropdown-toggle" type="button" id="heard-dropdown-btn" data-toggle="dropdown">-->
                            <!--Select-->
                        <!--</button>-->
                        <!--<div class="dropdown-menu" role="menu">-->
                            <!--<a class="dropdown-item opt" role="menuitem" name="Today I Learned " href="#">Today I Learned</a>-->
                            <!--<a class="dropdown-item opt" role="menuitem" name="Today I Thought " href="#">Today I Thought</a>-->
                            <!--<a class="dropdown-item opt" role="menuitem" name="Today I Heard " href="#">Today I Heard</a>-->
                            <!--<a class="dropdown-item opt" role="menuitem" name="Today I Watched " href="#">Today I Watched</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group" id="post-title-div">-->
                <!--<div class="input-group">-->
                    <!--<div class="input-group-prepend">-->
                        <!--<div class="input-group-text">Title</div>-->
                    <!--</div>-->
                    <!--<label class="control-label" for="post-title"></label>-->
                    <!--<input type="text" class="form-control dark" id="post-title">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label class="control-label" for="post-body"></label>-->
                <!--<textarea class="form-control dark" id="post-body" rows="12"></textarea>-->
            <!--</div>-->

        <!--</form>-->
        <!--&lt;!&ndash;-----------END FORM: HEADER-------------&ndash;&gt;-->


        <!--&lt;!&ndash;-----------FORM: HEARD------------------&ndash;&gt;-->
        <!--<form id="form-type-heard" class="form-var">-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12 col-md-6 col-lg-6">-->
                    <!--<div class="form-group heard-form">-->
                        <!--<label class="control-label" for="artist-name"></label>-->
                        <!--<div class="input-group">-->
                            <!--<div class="input-group-prepend">-->
                                <!--<div class="input-group-text">Artist</div>-->
                            <!--</div>-->
                            <!--<input type="text" class="form-control dark" id="artist-name">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12 col-md-6 col-lg-6">-->
                    <!--<div class="form-group heard-form">-->
                        <!--<label class="control-label" for="album-title"></label>-->
                        <!--<div class="input-group">-->
                            <!--<div class="input-group-prepend">-->
                                <!--<div class="input-group-text">Album</div>-->
                            <!--</div>-->
                            <!--<input type="text" class="form-control dark" id="album-title">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-12 col-md-6 col-lg-6">-->
                    <!--<div class="form-group heard-form">-->
                        <!--<label class="control-label" for="track-title"></label>-->
                        <!--<div class="input-group">-->
                            <!--<div class="input-group-prepend">-->
                                <!--<div class="input-group-text">Track</div>-->
                            <!--</div>-->
                            <!--<input type="text" class="form-control dark" id="track-title">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-12 col-md-6 col-lg-6">-->
                    <!--<div class="form-group heard-form">-->
                        <!--<label class="control-label" for="heard-url"></label>-->
                        <!--<div class="input-group">-->
                            <!--<div class="input-group-prepend">-->
                                <!--<div class="input-group-text">URL</div>-->
                            <!--</div>-->
                            <!--<input type="url" class="form-control dark" id="heard-url">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-12">-->
                    <!--<div class="form-group heard-form">-->
                        <!--<label for="rating" class="control-label"></label>-->
                        <!--<div class="input-group" id="rating-div">-->
                            <!--<div class="input-group-prepend">-->
                                <!--<div class="input-group-text" id="rating-text-div">Select Rating 0-10</div>-->
                            <!--</div>-->
                            <!--<input id="rating" class="form-control dark" type="range" min="0" max="10" value="5" step="1" list="rating-list">-->
                            <!--<datalist id="rating-list">-->
                                <!--<option value="0">-->
                                <!--<option value="1">-->
                                <!--<option value="2">-->
                                <!--<option value="3">-->
                                <!--<option value="4">-->
                                <!--<option value="5">-->
                                <!--<option value="6">-->
                                <!--<option value="7">-->
                                <!--<option value="8">-->
                                <!--<option value="9">-->
                                <!--<option value="10">-->
                            <!--</datalist> &lt;!&ndash;https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-12">-->
                    <!--<div class="form-group heard-form">-->
                        <!--<label for="heard-form-button"></label>-->
                        <!--<div class="input-group">-->
                            <!--<button type="submit" class="btn post-btn" id="heard-form-button">Post</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
        <!--&lt;!&ndash;---------- END FORM: HEARD -------------&ndash;&gt;-->


        <!--&lt;!&ndash;---------- FORM: WATCHED----------------&ndash;&gt;-->
        <!--<form id="form-type-watched" class="form-var">-->

            <!--&lt;!&ndash; ROW: URL CHECK & INPUT &ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-4 watched-col">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<label class="form-check-label" for="watched-check-url">-->
                                <!--<input type="checkbox" class="form-check-input" id="watched-check-url">Add Link-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-8 watched-col" id="watched-url-input-div">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group" id="watched-url-inner-div">-->
                            <!--<div class="input-group-prepend" id="url-prepend">-->
                                <!--<div class="input-group-text">LINK</div>-->
                            <!--</div>-->
                            <!--<label class="control-label" for="watched-url-input"></label>-->
                            <!--<input type="url" class="form-control dark" id="watched-url-input">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; END ROW: URL CHECK & INPUT &ndash;&gt;-->

            <!--&lt;!&ndash; ROW: FILE CHECK & INPUT &ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-4 watched-col">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<label class="form-check-label" for="watched-check-file">-->
                                <!--<input type="checkbox" class="form-check-input" id="watched-check-file">Add File-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-8 watched-col" id="watched-file-input-outer-div">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group" id="watched-file-input-inner-div">-->
                            <!--<div class="input-group-prepend" id="file-prepend">-->
                                <!--<div class="input-group-text" id="file-prepend-text">FILE</div>-->
                            <!--</div>-->
                            <!--<label class="control-label custom-file-upload" for="watched-file-input" id="file-input-label">-->
                                <!--<input type="file" class="custom-file-upload form-control dark" id="watched-file-input" title="">-->
                            <!--</label>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; END ROW: FILE CHECK & INPUT &ndash;&gt;-->


            <!--&lt;!&ndash; ROW: WATCHED SUBMIT BUTTON &ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-12" id="watched-submit-btn-div">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<label for="watched-form-button"></label>-->
                            <!--<button type="submit" class="btn post-btn" id="watched-form-button">Post</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; END ROW: WATCHED SUBMIT BUTTON &ndash;&gt;-->


        <!--</form>-->
        <!--&lt;!&ndash;---------- END FORM WATCHED ------------&ndash;&gt;-->


    <!--</div>&lt;!&ndash; END NEW POST WRAPPER DIV &ndash;&gt;-->

